
@{
  ViewBag.Title = @BCMStrategy.Resources.Resource.LblImportLexicon;
  ViewBag.ModuleName = BCMStrategy.Resources.Enums.ModuleName.LEXICON;
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="ImportLexicon">
    <div class="container-fluid">
        <!-- Collapsible element -->
        <div>
            <div class="mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label">@BCMStrategy.Resources.Resource.LblLexiconType</label> <span class="text-danger">*</span>
                                <select class="form-control" id="lexiconTypeHashId" name="lexiconTypeHashId" data-bind="value: LexiconTypeHashId">
                                    <option selected="selected" value="">@BCMStrategy.Resources.Resource.LblSelect @BCMStrategy.Resources.Resource.LblLexiconType</option>
                                </select>
                                <span id="errorMessageLexiconType" aria-live="polite" class="red-text" name="loginError"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="demo-section form-group k-content">
                                    <input name="importLexiconFile" accept=".csv" class="form-control" id="importLexiconFile" type="file" aria-label="files" />
                                    <span id="errorMessage" aria-live="polite" class="red-text" name="loginError"></span>
                                    <div class="green-text">@BCMStrategy.Resources.Resource.LblNoteForImportFile</div>
                                </div>
                                <a href="~/UploadTemplates/Lexicon Template.csv" download="Lexicon Template.csv" target="_blank">@BCMStrategy.Resources.Resource.LblDownloadLexiconTemplate</a>
                            </div>
                            <div class="col-md-6">
                                <a class="btn blue m375" style="display: none; cursor:pointer;" href="javascript:" id="btnValidateInstanceImportFile">@BCMStrategy.Resources.Resource.LblValidate</a>
                                <a class="btn btn-primary m375" style="display: none; cursor:pointer;" href="javascript:" id="btnInstanceImportFile">@BCMStrategy.Resources.Resource.LblImport</a>
                                <a class="btn btn-default  m375" style="cursor:pointer;" id="btnLexiconImportBack">@BCMStrategy.Resources.Resource.LblBack</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <span id="successMessage" style="color:green"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-4" id="divImportBody">
            <div class="card-body">
                <div id="gridImportLexicon"></div>
            </div>
        </div>
    </div>
    @section scripts{
        <script>
            var LexiconTerm = "@BCMStrategy.Resources.Resource.LblLexicon";
            var CombinationValue = "@BCMStrategy.Resources.Resource.LblCombinationValue";
            var Nested = "@BCMStrategy.Resources.Resource.LblIsNested";
            var LexiconLinker = "@BCMStrategy.Resources.Resource.LblLinker";
            var backURL = "@Url.Action("Index", "Lexicon", new { Area= "BCMStrategy" })";
        </script>
        @Scripts.Render("~/Scripts/JsAreas/LexiconImportFile.js", "~/Scripts/JsAreas/DropDownList.js")
    }
</form>
