@{
  ViewBag.Title = "Scraper Execution Results (Official Sector)";
  ViewBag.ModuleName = BCMStrategy.Resources.Enums.ModuleName.OFFICIAlSECTOR;
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .panel-heading {
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
      display: block;
      background: #eee;
      padding: 8px 0 0 5px;
    }

    .panel-body {
      padding-left: 20px;
      margin-bottom: 10px;
    }

    tbody {
      /*height: 400px;  */
      overflow-y: auto; /* Trigger vertical scroll    */
      overflow-x: hidden; /* Hide the horizontal scroll */
    }

    table.table td, table.table th {
      padding-top: 0.1rem;
      padding-bottom: 0rem;
    }

    .content-right {
      float: right;
    }
    .clear-content {
     float: right;
    }

    @@media (max-width: 768px) {
      .content-right {
      float: left;
    }
    .clear-content {
     float:none;
    }
  }
</style>

<form id="scrappingProcess">
  <!--Main Layout-->
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <a class="btn btn-dark-green form-control" id="btnGetData"> View Latest Scan Outcome</a>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-3 contentHeader" style="display:none">
      <div class="card">
        <div class="card-body">
          <div class="card-header">
            <div class="row">
              <div class="col-md-12"><span><b>Previous Scan :&nbsp;</b><span id="previousScannedDate"></span> (@BCMStrategy.Resources.Resource.LblEstZone)</span></div>
              <div class="col-md-12"><span><b>Latest Scan :&nbsp;</b><span id="lastScannedDate"></span> (@BCMStrategy.Resources.Resource.LblEstZone)</span></div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-hover" id="tblSummary"></table>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!--Main Layout-->
  @section scripts{
    @Scripts.Render("~/Scripts/JsAreas/ScrappingProcess.js")
    <script>
      // SideNav Button Initialization
      var RedirectToDetailURL = '@Url.Action("Detail", "ScrappingProcess", new { Area = "BCMStrategy" })';
      var webSiteType = '@ViewBag.WebSiteSector';
    </script>
  }
</form>
