@{
  ViewBag.Title = BCMStrategy.Resources.Resource.LblCustomerAuditLog;
  ViewBag.ModuleName = BCMStrategy.Resources.Enums.ModuleName.CUSTOMERAUDITLOG;
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
  #grid .k-grid-toolbar {
    padding: .6em 1.3em .6em .4em;
  }

  .category-label {
    vertical-align: middle;
    padding-right: .5em;
  }

  #category {
    vertical-align: middle;
  }

  .toolbar {
    float: left;
  }
</style>

<form id="activityTypeForm">
  <div class="container-fluid">
    <!-- Grid -->
    <div class="card mt-4">
      <div class="card-body">
        <div class="row">
          <div class="form-group col-md-4">
            <label class="control-label">@BCMStrategy.Resources.Resource.LblCustomer</label> <span class="text-danger">*</span>
            <select class="form-control" id="customers" name="customers">
              <option selected="selected" value="">@BCMStrategy.Resources.Resource.LblSelectCustomer</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <div id="grid" style="margin-left: 2px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  @section scripts{
    <script>
			var auditTable = '@BCMStrategy.Resources.Resource.LblAuditTable';
			var auditType = '@BCMStrategy.Resources.Resource.LblAuditType';
			var afterValue = '@BCMStrategy.Resources.Resource.LblAfterValue';
			var discription = '@BCMStrategy.Resources.Resource.LblAuditDescription';
      var ipAddress = '@BCMStrategy.Resources.Resource.LblIpAddress';
      var date = '@BCMStrategy.Resources.Resource.LblCreatedDate';
      var insertUpdatedUser = '@BCMStrategy.Resources.Resource.LblInsertUpdatedUserName';
			var noDataFound = '@BCMStrategy.Resources.Resource.LblNoDataFound';
      var deletePopupHeader = "@BCMStrategy.Resources.Resource.LblDeleteConfirmation";
      var deletePopupMessage = "mSG";

    </script>
    @Scripts.Render("~/Scripts/JsAreas/CustomerAuditLog.js")
  }
</form>