<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="~/Content/img/favicon.ico">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/Content")
    @Styles.Render("~/bundles/Login")

</head>
<body>
    <header>
        <!-- Full Page -->
        <div class="view log-bg">
            <!-- Mask & flexbox-->
            <div class="mask rgba-gradient d-flex align-items-center">
                <!-- Content -->
                <div class="container">
                    <!--Grid row-->
                    <div class="row ">
                        <!--Grid column-->
                        <div class="col-md-6 mb-4 offset-md-3">
                            <div class="logo-holder">
                                <img src="~/Content/img/logo1.png" class="img-responsive text-center" />
                            </div>
                            @RenderBody()
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!-- Content -->
            </div>
            <!-- Mask & flexbox-->
        </div>
        <!-- Full Page -->
    </header>
    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark-green model-ok" data-dismiss="modal">Ok</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="bg_load" id="divPageLoaderBG" style="display:none;"></div>
    <div class="loader-wrapper" id="divPageLoader" style="display:none;">
        <div class="cssload-load">
            <div class="cssload-blockcont">
                <div class="cssload-block"></div>
                <div class="cssload-block"></div>
                <div class="cssload-block"></div>

                <div class="cssload-block"></div>
                <div class="cssload-block"></div>
                <div class="cssload-block"></div>

                <div class="cssload-block"></div>
                <div class="cssload-block"></div>
                <div class="cssload-block"></div>
            </div>
        </div>
    </div>
</body>
@Scripts.Render("~/bundles/reqScripts")
@Scripts.Render("~/bundles/KendoScript")
@RenderSection("scripts", required: false)
<script>
  var LogoutURL = '@Url.Action("Logout", "Login", new { Area = "Account" })';
  var LogoutSuccessURL = '@Url.Action("Index","Login", new { Area = "Account" })';
  var UnauthorizedURL = '@Url.Content(@"~\Error\Unauthorized")';
</script>
</html>
