@using BCMStrategy.Resources;
@{
  ViewBag.Title = "BCM Strategy :: ForgotPassword";
  Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<form id="forgotPasswordForm">
  <div class="card wow fadeInRight" data-wow-delay="0.3s">
    <div class="card-body">
      <!--Header-->
      <div class="text-center">
        <h3 class="white-text">
          <!--<i class="fa fa-user white-text"></i> User-->@Resource.LblForgotPasswordTitle
        </h3>
      </div>
      <!--Body-->
      <div class="form-group md-form">
        <i class="fa fa-user prefix white-text active"></i>
        <input type="text" id="emailAddress" name="emailAddress" data-bind="value: EmailAddress" class="white-text form-control">
        <label for="emailAddress" class="active">@Resource.LblEmailAddress</label>
      </div>
      <span id="errorMessage" aria-live="polite" class="white-text" name="loginError"></span>
      <div class="text-center mt-4">
        <button class="btn btn-blue waves-effect waves-light" type="submit" id="btnReset">@Resource.LblReset</button>
        <div class="inline-ul text-center d-flex justify-content-center fgp">
          <a class="p-2 m-2 li-ic" href="@Url.Action("Index","Login",new { Area= "Account"})">
            @Resource.LblBack
          </a>
        </div>
      </div>
    </div>
  </div>
  @section scripts{
    @Scripts.Render("~/Scripts/JsAreas/ForgotPassword.js")
  }
</form>