@using BCMStrategy.Resources;
@{
  ViewBag.Title = "BCM Strategy :: SetPassword";
  Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<form id="setPasswordForm" class="login-form">
  <!--Form-->
  <div class="card wow fadeInRight" data-wow-delay="0.3s">
    <div class="card-body">
      <!--Header-->
      <div class="text-center">
        <h3 class="white-text">
          @Resource.LblSetPassword
        </h3>
      </div>

      <!--Body-->
      <div class="form-group  md-form">
        <i class="fa fa-user-lock prefix white-text active"></i>
        <input type="password" id="password" name="password" data-bind="value: Password" class="white-text form-control">
        <label for="password" class="active">@Resource.LblNewPassword</label>
      </div>
      <div class="form-group md-form">
        <i class="fa fa-unlock-alt prefix white-text active"></i>
        <input type="password" id="reEnterPassword" name="reEnterPassword" data-bind="value: ReEnterPassword" class="white-text form-control">
        <label for="reEnterPassword">@Resource.LblConfirmPassword</label>
      </div>
      <span id="errorMessage" aria-live="polite" class="white-text" name="loginError"></span>
      <div class="text-center mt-4">
        <button class="btn btn-blue waves-effect waves-light" type="button" id="btnReset">@Resource.LblReset</button>
        
      </div>
    </div>
  </div>
  
</form>

@section scripts{
  <script type="text/javascript">
      var activationCode = '@(Request.QueryString["activationCode"] != string.Empty ? Convert.ToString(Request.QueryString["activationCode"]) : string.Empty)';
    var SuccessURL = '@Url.Action("Index","Login", new { Area = "Account" })';
    var SuccessTitle = "@Resource.LblSuccessTitle"
  </script>
  @Scripts.Render("~/Scripts/JsAreas/SetPassword.js")
}